:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  background-image: url('/static/img/meteo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.topnav {
  overflow: hidden;
  background-color: #343a40;
  opacity: 0.7;
  background-attachment: fixed;
}

.topnav a {
  float: left;
  color: #b0ff50;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.topnav a:hover {
  background-color: lightblue;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
  background-attachment: fixed;
}

.topnav-right {
  float: right;
  color: cyan;
  margin: 0;
  font-size: 30px;
  font-weight: bolder;
  background-attachment: fixed;
}

.temp-container {
  width: 10%;
  border: 3px solid orange;
  position: absolute;
  top: 150px;
  left:100px;
  width: 150px;
  height: 150px;
}

.temp-image {
  background-image: url('/static/img/temp_small.jpg');
  opacity: 0.9;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  background-size: cover;
}

.temp-container h2 {
  color: blue;
  font-size: 50px;
  text-align: center;
  margin: 0;
}

.temp-container h2:hover {
  color: blue;
  font-size: 70px;
  margin: 0;
}

.temp-container h5 {
  text-align: center;
  font-family: monospace;
  margin: 0;
  color: green;
  font-size: 25px;
}

.press-container {
  width: 10%;
  border: 3px solid orange;
  position: absolute;
  top: 350px;
  left:300px;
  width: 150px;
  height: 150px;
}

.press-image {
  background-image: url('/static/img/press_small.png');
  opacity: 0.9;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
  background-size: cover;
}
.press-container h2 {
  color: blue;
  font-size: 50px;
  text-align: center;
  margin: 0;
}

.press-container h2:hover {
  color: blue;
  font-size: 70px;
  margin: 0;
}

.press-container h5 {
  text-align: center;
  font-family: monospace;
  margin: 0;
  color: green;
  font-size: 25px;
